.loginWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width:50%;
    padding: 1rem;
}
.insta-logo{
    text-align: center;
    margin-top: 2rem;
}
/* Container for the phone image and the carousel overlay */
.imgCar {
    position: relative; /* Create a positioning context */
    max-width: 400px;   /* Adjust as needed */
    width: 60%;
    margin: 0 auto;
  }
  
  /* Make sure the phone image scales responsively */
  .imgCar img {
    width: 100%;
  }
  
  /* The carousel overlay container placed over the phone screen */
  .imgCar .car {
    position: absolute;
    top: 15%;
    left: 32%;
    width: 55%;
  }
@media only screen and (max-width:768px) {
    .loginWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .login{
        width:100%;
    }
}
