  .video-container{
    height: 78vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    width: 300px;
  }

  .video-container::-webkit-scrollbar{
    display: none;
  }

  .videos{
    position: relative;
  }
  .fa{
    bottom: 2%;
    display: flex;
    left: 2%;
    position: absolute;
    width: 100%;
  }
  .fa h4{
    color: black;
    margin-top: 2%;
    margin-left: 3%;
  }

  .like{
    color: red;
    bottom: 1%;
    left: 20%;
    cursor: pointer;
    position: absolute;
  }

  .unlike{
    color: white;
    bottom: 1%;
    left: 20%;
    cursor: pointer;
    position: absolute;
  }

  .commentModal{
    color:white;
    position: absolute;
    bottom: 1%;
    left:30%;
    cursor:pointer;
  }
.modal-container{
  display: flex;
  width: 100%;
  height:100%;
  justify-content: space-around;
  overflow-y: hidden;
}

.video-modal{
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 76.5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 19px 1px;
}
.comment-container{
  width: 50%;
  padding: 1rem;
}
.modal-video video{
  position: absolute;
  height: 76.5vh;
  max-width: 300px;
}

 .comment-tools{
  display: flex;
  padding: 0rem 1rem;
} 
.comment-tools .like{
  color:red;
  cursor: pointer;
  position: relative;
  top:0.5rem;
  left:-0.4rem;

} 

.comment-tools .unlike{
  color: black;
  cursor: pointer;
  position: relative;
  top:0.5rem;
  left:-0.4rem;
} 

.addComment{
  width:100%;
}

.textLike{
  padding: 0.3rem;
  text-align: center;
}

.card1{
  height:70vh;
}
.card1 .showCoomentbox {
  max-height: 500px;
  overflow: auto;
}
.card1 .showComment{
  display: flex;
  align-items: center;
  gap:1rem;
 
}
.commentText span {
  font-weight: bold !important;
}

.commentText{
  word-wrap: break-word;
  width: 100%;
}
.commentText p{
  margin: 0 !important;
}

.navImage{
  margin-left: 3%;
}

.uploadStyling{
  margin-top: 4rem;
  padding: 0.3rem;
}
.commBox{
  padding: 1rem;
}

@media screen and (min-width:800px) and (max-width:1025px) {
  .card1 .showCoomentbox {
    height: 22vh;
  }
  .card1{
    height: 22vh;
  }
  .video-modal {
    position: relative;
    width: 100%;
    max-width: 100% !important;
    overflow: hidden;
    height: 45vh;
  }
.modal-container{
  flex-direction: column;
  overflow: hidden;
}
.modal-video video {
  position: absolute;
  width: 100%;
  height: 45vh;
  max-width: none;
}
.comment-container {
  height: 32vh;
  width: 100%;
}
}

@media screen and (max-width:768px) {
  .card1 .showCoomentbox {
    height: 22vh;
  }
  .card1{
    height: 22vh;
  }
  .video-modal {
    position: relative;
    width: 100%;
    max-width: 670px !important;
    overflow: hidden;
    height: 45vh;
  }
.modal-container{
  flex-direction: column;
  overflow: hidden;
}
.modal-video video {
  position: absolute;
  width: 100%;
  height: 45vh;
  max-width: none;
}
.comment-container {
  height: 32vh;
  width: 100%;
}

}

@media screen and (max-width:430px){
  .comment-container {
    height: 37vh;
  }
  .modal-container {
    overflow: hidden;
}
}

