.spacer{
    min-height: 12vh;
}
.container{
    min-height: 88vh;
    margin-left: 18%;
    margin-right: 18%;
}
.upper-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.profile-img{
    flex-basis: 50%;
}

.info{
    flex-basis: 40%;
}

.profile-img img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-left: 10%;
}

.profile-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.profile-videos .videos video{
    height: 20rem;
    padding: 0.5rem;
}

.profilesec{
    text-align: center;
}

@media only screen and (max-width:450px) {
    .profile-img img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .info .infodata{
        font-size: 11px;
        font-weight: bold;
        word-wrap: break-word;
        max-width: 50vw;
    }
    .profilesec{
        text-align: center;
        font-size: 13px;
    }

    .upper-part{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        gap:1.5rem;
    }

    .profile-videos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .profile-videos .videos video{
        height:20rem;
        padding: 0.5rem;
    }

}

@media only screen and (min-width:451px) and (max-width:1440px) {
    .profile-img img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .profilesec{
        text-align: center;
        font-size: 16px;
    }
    .info .infodata{
        font-size: 15px;
        font-weight: bold;
        word-wrap: break-word;
        max-width: 50vw;
    }

    .upper-part{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        gap:1.5rem;
    }

    .profile-videos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .profile-videos .videos video{
        height:20rem;
        padding: 0.5rem;
    }
}